
@font-face {
	font-family: 'geoslab703_xbdcn_btextra_bold';
	src: url('../fonts/ge703xbc-webfont.eot');
	src: url('../fonts/ge703xbc-webfont.eot?#iefix') format('embedded-opentype'),  
	url('../fonts/ge703xbc-webfont.woff') format('woff'),  
	url('../fonts/ge703xbc-webfont.ttf') format('truetype'),  
	url('../fonts/ge703xbc-webfont.svg#geoslab703_xbdcn_btextra_bold') format('svg');
}
@font-face {
	font-family: 'dinregular';
	src: url('../fonts/din-regular_0-webfont.eot');
	src: url('../fonts/din-regular_0-webfont.eot?#iefix') 
	format('embedded-opentype'),  
	url('../fonts/din-regular_0-webfont.woff') format('woff'),  
	url('../fonts/din-regular_0-webfont.ttf') format('truetype'),  
	url('../fonts/din-regular_0-webfont.svg#dinregular') format('svg');
}
@font-face {
	font-family: 'geoslab703_xbdit_btXBdIt';
	src: url('../fonts/ge703xbi-webfont.eot');
	src: url('../fonts/ge703xbi-webfont.eot?#iefix') 
	format('embedded-opentype'),  
	url('../fonts/ge703xbi-webfont.woff') 	format('woff'),  
	url('../fonts/ge703xbi-webfont.ttf') format('truetype'),  
	url('../fonts/ge703xbi-webfont.svg#geoslab703_xbdit_btXBdIt') format('svg');
}
@font-face {
	font-family: 'geoslab703_md_btbold';
	src: url('../fonts/geo703b-webfont.eot');
	src: url('../fonts/geo703b-webfont.eot?#iefix') format('embedded-opentype'),  
	url('../fonts/geo703b-webfont.woff') format('woff'),  
	url('../fonts/geo703b-webfont.ttf') format('truetype'),  
	url('../fonts/geo703b-webfont.svg#geoslab703_md_btbold') format('svg');
}
@font-face {
	font-family: 'geoslab703_xbd_btextra_bold';
	src: url('../fonts/geo703xb-webfont.eot');
	src: url('../fonts/geo703xb-webfont.eot?#iefix') format('embedded-opentype'),  
	url('../fonts/geo703xb-webfont.woff') format('woff'),  
	url('../fonts/geo703xb-webfont.ttf') format('truetype'),  
	url('../fonts/geo703xb-webfont.svg#geoslab703_xbd_btextra_bold') format('svg');
}
@font-face {
	font-family: 'geoslab703_mdcn_btmedium';
	src: url('../fonts/geo703mc-webfont.eot');
	src: url('../fonts/geo703mc-webfont.eot?#iefix') format('embedded-opentype'),  
	url('../fonts/geo703mc-webfont.woff') format('woff'),  
	url('../fonts/geo703mc-webfont.ttf') format('truetype'),  
	url('../fonts/geo703mc-webfont.svg#geoslab703_mdcn_btmedium') format('svg');
}
@font-face {
	font-family: 'geoslab703_md_btmedium_italic';
	src: url('../fonts/geo703mi-webfont.eot');
	src: url('../fonts/geo703mi-webfont.eot?#iefix') format('embedded-opentype'),  
	url('../fonts/geo703mi-webfont.woff') format('woff'),  
	url('../fonts/geo703mi-webfont.ttf') format('truetype'),  
	url('../fonts/geo703mi-webfont.svg#geoslab703_md_btmedium_italic') format('svg');
}
@font-face {
	font-family: 'geoslab703_lt_btlight_italic';
	src: url('../fonts/geo703li-webfont.eot');
	src: url('../fonts/geo703li-webfont.eot?#iefix') format('embedded-opentype'),  
	url('../fonts/geo703li-webfont.woff') format('woff'),  
	url('../fonts/geo703li-webfont.ttf') format('truetype'),  
	url('../fonts/geo703li-webfont.svg#geoslab703_lt_btlight_italic') format('svg');
}
@font-face {
	font-family: 'geoslab703_md_btmedium';
	src: url('../fonts/geo703m-webfont.eot');
	src: url('../fonts/geo703m-webfont.eot?#iefix') format('embedded-opentype'),  
	url('../fonts/geo703m-webfont.woff') format('woff'),  
	url('../fonts/geo703m-webfont.ttf') format('truetype'),  
	url('../fonts/geo703m-webfont.svg#geoslab703_md_btmedium') format('svg');
}
@font-face {
	font-family: 'geoslab703_md_btbold_italic';
	src: url('../fonts/geo703bi-webfont.eot');
	src: url('../fonts/geo703bi-webfont.eot?#iefix') format('embedded-opentype'),  
	url('../fonts/geo703bi-webfont.woff') format('woff'),  
	url('../fonts/geo703bi-webfont.ttf') format('truetype'),  
	url('../fonts/geo703bi-webfont.svg#geoslab703_md_btbold_italic') format('svg');
}
@font-face {
	font-family: 'geoslab703_lt_btlight';
	src: url('../fonts/geo703li-webfont.eot');
	src: url('../fonts/geo703li-webfont.eot?#iefix') format('embedded-opentype'), 
	url('../fonts/geo703li-webfont.woff') format('woff'),  u
	rl('../fonts/geo703li-webfont.ttf') format('truetype'),  
	url('../fonts/geo703li-webfont.svg#geoslab703_lt_btlight') format('svg');
}
@font-face {
	font-family: 'geoslab703_mdcn_btbold';
	src: url('../fonts/geo703bc-webfont.eot');
	src: url('../fonts/geo703bc-webfont.eot?#iefix') format('embedded-opentype'), 
	url('../fonts/geo703bc-webfont.woff') format('woff'),  
	url('../fonts/geo703bc-webfont.ttf') format('truetype'), 
	url('../fonts/geo703bc-webfont.svg#geoslab703_mdcn_btbold') format('svg');
}